html {
    color-scheme: dark;
}

body {
    font-family: Inter,"Inter Fallback: Arial",sans-serif;
    margin: 1em;
}

#landingPage {
    display: flex;
    align-items: center;
    justify-content: center;
}

#landingUI {
    border: solid gray 1px;
    padding: 1em;
}

#landingPortConfig {
    display: flex;
    flex-direction: row;
    margin: 1em;
}

#landingPortConfig > div {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
}


#configArea {
    display: flex;
    flex-direction: column;
/*    width: fit-content; Squeezes items down. */
}

.configGroup {
}

#footer {
    display: flex;
    justify-content: end;
}


.configOption {
    display: flex;
    justify-content: space-between;
    padding: 0.25em;
    border-bottom: solid #333 1px;

    .description {
        font-size: smaller;
        filter: brightness(0.5);
    }

    label {
        margin-right: 1em;
    }
}


.configOption .optionInput {
}


.optionInput[type="text"],
.optionInput[type="password"] {
    flex-grow: 0.8;
}
