html {
    color-scheme: dark;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    padding: 1em;
    min-height: 100vh;
    font-family: Inter,"Inter Fallback: Arial",sans-serif;
    box-sizing: border-box;
}

.footer {
    text-align: center;
}

h1, h2, h3 {
    margin-top: 0px;
}

/* Styles for the main connection page */

#landingPage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#landingUI {
    border: solid gray 1px;
    padding: 1em;
}

.landingConfigRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em;
}

.landingConfigRow > div {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
}

#landingHelp {
    display: none;
    border: solid gray 1px;
    margin: 1em;
    padding: 1em;

    img {
        margin: 0.5em;
    }
}

/* Styles for the main configuration page */

#configArea {
    display: flex;
    flex-direction: column;
/*    width: fit-content; Squeezes items down. */
}

.configGroup {
}

#configFooter {
    display: flex;

    #extensionInfo {
        margin-left: auto;
        margin-right: auto;
    }
    #doneButton {
        margin-left: 0px;
    }
}


.configOption {
    display: flex;
    justify-content: space-between;
    padding: 0.25em;
    border-bottom: solid #333 1px;

    .description, .errorDescription {
        font-size: smaller;
        filter: brightness(0.5);
    }
    .errorDescription {
        color: red;
        filter: none;
    }

    label {
        margin-right: 1em;
    }
}

.configOption.optionGroup {
    flex-direction: column;
}

.optionGroup label {
    display: block;
}

.optionGroup label .description {
    display: inline;
}

.nestedOptions {
    margin-left: 2em;
}

.hidden {
    display: none;
}

.configOption .optionWidget {
    display: flex;
    flex-grow: 0.8;
    justify-content: end;
}


.optionInput[type="text"],
.optionInput[type="password"],
.optionSlider {
    width: 100%;
    flex: 1;
    min-width: 0;
}

input[type="number"] {
    width: 10ch;
}

/* Styles for the editor */

#configEditor {
    margin: 1em;
    width: 80%;
    justify: center;
    
}

#jsonEditor {
    margin-top: 1em;
}

