html {
    color-scheme: dark;
}

body {
    font-family: Inter,"Inter Fallback: Arial",sans-serif;
    margin: 1em;
}

#configArea {
    display: flex;
    flex-direction: column;
/*    width: fit-content; Squeezes items down. */
}

.configGroup {
}

.configOption {
    display: flex;
    justify-content: space-between;
    padding: 0.25em;
    border-bottom: solid #333 1px;

    .description {
        font-size: smaller;
        filter: brightness(0.5);
    }

    label {
        margin-right: 1em;
    }
}


.configOption .optionInput {
}


.optionInput[type="text"],
.optionInput[type="password"] {
    flex-grow: 0.8;
}
